<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wht.mapper.TableMapper">
    <insert id="insert">
        insert into ${tableName}
        <foreach collection="addData.keySet()" item="key" open="(" close=")" separator=",">
            ${key}
        </foreach>
            values
        <foreach collection="addData.values()" item="val" open="(" close=")" separator=",">
            #{val}
        </foreach>
    </insert>

    <update id="update">
        update ${tableName}
        <foreach collection="diff.entrySet()" index="key" item="val" open="set" separator=",">
            ${key} = #{val}
        </foreach>
        where ${idName} = ${id}
    </update>
    <delete id="del">
        delete from ${tableName} where ${idName} = ${id}
    </delete>


    <select id="query" resultType="java.util.Map">
        select ${fields} from ${tableName}
        <if test="keyword != null">
            <foreach collection="queryFields" item="queryField" separator="or" open="where">
                ${queryField} like concat('%',#{keyword},'%')
            </foreach>
        </if>
        <if test="isTree != null">
            where pid IS NULL
        </if>
        limit ${start},${end}
    </select>
    <select id="getOne" resultType="java.util.Map">
        select ${fields} from ${tableName}
        where ${idName} = ${id}
    </select>
    <select id="getTableTotal" resultType="java.lang.Integer">
        select count(*) from ${tableName}
        <if test="isTree != null">
            where pid IS NULL
        </if>
    </select>
    <select id="getChildrenData" resultType="java.util.Map">
        select ${fields} from ${tableName}
        where pid = ${pid}
    </select>
    <select id="selectAllData" resultType="java.util.LinkedHashMap">
        select ${fields} from ${tableName}
    </select>
</mapper>